  .Home {
        text-align: center;
        display: flex;
        flex-direction: column;
        /* background-color: grey;
        color: gold; */
        height: 100vh;
    }
  
  .Home header {
    display: flex;
    /* font-family: 'Inter', sans-serif;
    color: white;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: #ce0e2e;*/
    justify-content: stretch;
    align-items: center;
    /* height: 150px; */
    box-shadow: 8px 8px 16px #767696;
    border: 2px black solid;
    border-radius: 4px;
    height: 6vh;
    width: 100vw;
    /* border: 2px red solid; */
  }

  .Home .rightHeaderBar {
    display: flex;
    justify-content: flex-end;
    /* flex: 1; */
    width: 40vw;
    /* border: 2px brown dashed; */
  }
  .Home .centerHeaderBar {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex: 1; */
    width: 30vw;
    /* border: 2px red dashed; */
  }
  .Home .leftHeaderBar {
    display: flex;
    justify-content: flex-end;
    /* flex: 1; */
    width: 40vw;
    /* border: 2px brown dashed; */
  }
  
  .Home .mainContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100vw;
    /* border: 2px red solid; */
  }
  
  .Home .leftColumn {
    display: flex;
    flex-direction: column;
    flex: 1.4;
    /* border: 2px orange solid; */
  }
  
  .Home .rightColumn {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* border: 2px orange solid; */
  }
  
  
  .Home .friendsBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 16vh;
    border: 2px goldenrod dashed;
  }
  
  .Home .friendsEmptySpace {
    /* width: 200px;
    height: 200px; */
    flex: 1;
    height: 100%;
    /* border: 2px green dashed; */
  }
  
  .Home .friendsHeadlineContainer {
    display: flex;
    width: 8vh;
    box-shadow: 8px 8px 16px #767696;
    border: 2px black solid;
    border-radius: 4px;
    height: 10.5vh;
    width: 660px;
    /* height: 100%; */
    align-items: center;
    justify-content: space-around;
  }
  
  .Home .friendsElementBox {
    display: flex;
    flex-direction: column;
    height: 10vh;
    max-width: 7vh;
    margin-top: 4px;
    margin-bottom: 1px;
  
    /* margin-left: 1vh;
    margin-right: 1vh; */
    /* border: 2px green solid; */
  }
  
  .Home .friendsElementBox p {
    margin-bottom: 4px;
  }
  
  .Home .feedBox {
    /* flex-direction: row; */
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    /* border: 2px goldenrod solid; */
  }
  
  .Home .feedElementBox {
    /* flex-direction: column; */
    display: flex;
    flex-direction: column;
    width: 660px;
    margin-bottom: 2.5vh;
    box-shadow: 8px 8px 16px #767696;
    border: 2px black solid;
    border-radius: 4px;
  }
  
  .Home .feedEmptySpace {
    /* width: 200px;
    height: 200px; */
    flex: 1;
    /* border: 2px green dashed; */
  }
  
  .Home .selfBox {
    /* flex-direction: row;
    height: 12vh;
    border: 2px goldenrod solid; */

    display: flex;
    width: 8vh;
    box-shadow: 8px 8px 16px #767696;
    border: 2px black solid;
    border-radius: 4px;
    width: 660px;
    height: 10.5vh;
    align-items: center;
    justify-content: left;
    margin-left: 2.5vh;

  }
  
  .Home .suggestionsBox {
    flex-direction: column;
    height: 32vh;
    border: 2px goldenrod solid;
  }
  
  .Home .logo {
    flex: 1;
    max-height: 4vh;
    max-width: 4vh;
  }

  .Home .cog {
    flex: 1;
    max-height: 3vh;
    max-width: 3vh;
    margin-right: 18vh;
  }

  .Home .head {
    flex: 1;
    max-height: 5vh;
    max-width: 5vh;
    margin-left: 3vh;
    margin-right: 1vh;
  }
  
  .photo-container img {
    width: 90%;
  }